localhost-key.pem
localhost.pem
__pycache__
keys
credentials.json
token.json
venv
.env
/ideas
*.log
.react-router
/client_test
build
thumbnails
/server/app/media/demo/
/server/app/start.sh
**/migrations/[0-9][0-9][0-9][0-9]*.py
collectstatic
/server/app/cmd/
*.sqlite3
pyproject.toml
.idea
.vscode
.eslintrc.json
**/frontend/
storage-credentials.json
render_data/
