localhost-key.pem
localhost.pem
__pycache__
keys
credentials.json
token.json
venv
.env
/ideas
*.log
.react-router
/client_test
build
thumbnails
migrations
collectstatic
/server/app/cmd/
*.sqlite3
pyproject.toml
.idea
.vscode
.eslintrc.json
**/frontend/
storage-credentials.json
render_data/
