{% extends "emails/base.html" %} 
{% load i18n %} 
{% block subject %} 

{% translate "Your reservation for {{site_name}} has been confirmed." %}
{% endblock %}
{% block content %}
  <p>
    {% with guest_name=reservation.guest_name check_in=reservation.check_in check_out=reservation.check_out %}
      {% blocktranslate %}
        Hello, {{guest_name}}. Your reservation for {{site_name}} has been confirmed! We will be waiting for you on {{check_in}}. If you need to contact us please send a mail to {{manager_email}}.
      {% endblocktranslate %}
    {% endwith %}
  </p>

  <table cellpadding="0" cellspacing="0" style="margin-top: 16px; width: 300px">
    <tr>
      {% translate "Guest name" as guest_name_str %}
      <td><strong>{{ guest_name_str|capfirst }}:</strong></td>
      <td>{{ reservation.guest_name }}</td>
    </tr>
    <tr>
      {% translate "Check-in" as check_in_str %}
      <td><strong>{{ check_in_str|capfirst }}:</strong></td>
      <td>{{ reservation.check_in|date:"DATE_FORMAT" }}</td>
    </tr>
    <tr>
      {% translate "Check-out" as check_out_str %}
      <td><strong>{{ check_out_str|capfirst }}:</strong></td>
      <td>{{ reservation.check_out|date:"DATE_FORMAT" }}</td>
    </tr>
    <tr>
      {% translate "Guests" as guests_str %}
      <td><strong>{{ guests_str|capfirst }}:</strong></td>
      <td>
        {% translate "adults" %}: {{ guests.adults }} | {% translate "children" %}: {{ guests.children }}
      </td>
    </tr>
    <tr>
      {% translate "nights" as nights_str %}
      <td><strong>{{ nights_str|capfirst }}:</strong></td>
      <td>{{ reservation.nights }}</td>
    </tr>
    <tr>
      {% translate "Rooms" as rooms_str %}
      <td><strong>{{ rooms_str|capfirst }}:</strong></td>
      <td>
        {% for room in rooms %}
          {{ room|capfirst }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      {% translate "Message" as message_str %}
      <td><strong>{{ message_str|capfirst }}:</strong></td>
      <td>{{ reservation.message }}</td>
    </tr>
  </table>

  <p style="margin-top: 24px">
  <strong>
    <a
      href={{ site_url }}
  >
      {{site_name}}
    </a>
  </strong>
  </p>
{% endblock %}
