@import "tailwindcss";

.dot-1-animate {
  background-color: #73706f;
  scale: 1.2;
  animation: dotOneTransitions 1.5s ease-in infinite running;
}
.dot-2-animate {
  background-color: #73706f;
  scale: 1.2;
  animation: dotOneTransitions 1.5s ease-in 0.5s infinite running;
}
.dot-3-animate {
  background-color: #73706f;
  scale: 1.2;
  animation: dotOneTransitions 1.5s ease-in 1.0s infinite running;
}

@keyframes dotOneTransitions {
  0% { background-color: #73706f; scale: 1.2}
  33% { background-color: #d9d9d9; scale: 1}
  66% { background-color: #d9d9d9; scale: 1}
}

.gradient-wave {
  background: linear-gradient(270deg, #AEAEAE, #F1F1F1, #AEAEAE, #F1F1F1);

  background-size: 300% 100%;
  animation: shiftGradient 4s infinite
}


.gradient-line {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(251, 150, 110, 1) 2%, rgba(251, 150, 110, 1) 100%);
  background-size: 200% 100%;
  animation: shiftGradient 1.1s linear infinite reverse
}
@keyframes shiftGradient {
  0% { background-position: 100% 0%; }
  100% { background-position: 200% 0%; }
}

