@import "tailwindcss";

.dot-1-animate {
  background-color: #73706f;
  scale: 1.2;
  animation: dotOneTransitions 1.5s ease-in infinite running;
}
.dot-2-animate {
  background-color: #73706f;
  scale: 1.2;
  animation: dotOneTransitions 1.5s ease-in 0.5s infinite running;
}
.dot-3-animate {
  background-color: #73706f;
  scale: 1.2;
  animation: dotOneTransitions 1.5s ease-in 1.0s infinite running;
}

@keyframes dotOneTransitions {
  0% { background-color: #73706f; scale: 1.2}
  33% { background-color: #d9d9d9; scale: 1}
  66% { background-color: #d9d9d9; scale: 1}
}
