@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@source "inline:pl-[10px] pl-[20px] pl-[30px] pl-[40px]";
@source "inline:bg-tag-pink bg-tag-blue";

body {
	@apply m-0 flex justify-center font-serif bg-bg;
}
#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@theme {
	--color-red-error: #ff2c2c;
	--color-text-main: #4c3b33;
	--color-bg: #fffbfb;
	--color-line: #4c3b3350;
	--color-accent: #764c38;
	--color-olive: #d1d8b8;
	--color-olive-light: #f0f3e5;
	--color-olive-dark: #8ca47c;
	--color-red-bg-error: #ff9991;
	--color-red-bg-error-light: #fec0bb;
	--color-peach-light: #fdd2a9;
	--color-peach-lighter: #ffdbbd;
	--color-peach-accent: #fbbb84;
	--color-peach-superlight: #ffe6d2;
	--color-peach: #efa76a;
	--color-line-light: #c59f8d;
	--color-gray-warm: #E3DDDD;

	--font-sans: "Source Sans 3", sans-serif;
	--font-serif: "Lora", serif;
}

h1 {
	@apply text-4xl font-medium;
}
h2 {
	@apply text-3xl font-medium mb-7;
}
h3 {
	@apply text-2xl font-medium mb-5;
}
.container-width-responsive {
	@apply lg:max-w-[1284px];
}
.container-text-width-responsive {
	@apply lg:w-[862px];
}
.gr-green-medium {
	background: RGBA(51, 165, 140, 1);
	background: linear-gradient(
		97deg,
		rgba(51, 165, 140, 0.34) 0%,
		rgba(51, 165, 140, 0.16) 10%,
		rgba(51, 165, 140, 0.24) 75%,
		rgba(51, 165, 140, 0) 100%
	);
}

.input-login {
	@apply border border-[var(--color-gray-1)] rounded-sm font-sans text-lg w-[240px] h-[36px] px-3 text-[var(--color-gray-1)];
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	/* flex: 0 0 100%; */
	min-width: 0;
}
